<div layout="column" flex ng-if="!$ctrl.model.hasSearched || !$ctrl.model.hasRepositories">
  <md-toolbar>
    <h1 class="md-display-1">
      Github Browser
    </h1>
  </md-toolbar>

  <div layout="column" layout-padding>
    <gh-search query="$ctrl.model.query" on-search="$ctrl.search(query)"></gh-search>
    <md-progress-linear md-mode="query" ng-disabled="!$ctrl.model.loadingRepositories"></md-progress-linear>
    <div ng-if="$ctrl.model.hasSearched && !$ctrl.model.loadingRepositories">
      <gh-no-results ng-if="!$ctrl.model.hasRepositories"></gh-no-results>
    </div>
    <div ng-id="!$ctrl.model.hasSearched" layout-padding>
      <h3>Search for a Repository</h3>
      <p>Type a search term in the search field and press enter to search for github repositories matching the query.</p>
    </div>
  </div>
</div>

<div layout="row" flex style="height:100%" ng-if="$ctrl.model.hasRepositories">
	<md-sidenav class="md-whiteframe-4dp" md-is-locked-open="true">
		<gh-search query="$ctrl.model.query" on-search="$ctrl.search(query)"></gh-search>
    <md-progress-linear md-mode="query" ng-disabled="!$ctrl.model.loadingRepositories"></md-progress-linear>
    <gh-results ng-if="!$ctrl.model.loadingRepositories"
      results="$ctrl.model.repositories"
      on-select="$ctrl.showDetails(repository)"
    ></gh-results>
	</md-sidenav>
	<md-content layout="column" flex>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2><span ng-bind="$ctrl.model.details.name"></span></h2>
        <span flex></span>
        <md-button class="md-fab md-mini" aria-label="Home" ng-href="{{$ctrl.repository.url}}">
          <md-icon md-svg-src="/src/assets/ic_home_black_24px.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
		<md-tabs md-dynamic-height md-selected="$ctrl.model.currentTab" layout-padding>
			<md-tab label="Details">
				<md-tab-body>
					<gh-details ng-if="$ctrl.model.hasDetails" repository="$ctrl.model.details"></gh-details>
				</md-tab-body>
			</md-tab>

			<md-tab label="Issues" md-on-select="$ctrl.getIssues($ctrl.model.details.name)">
				<md-tab-body>
          <md-progress-linear md-mode="query" ng-disabled="!$ctrl.model.loadingIssues"></md-progress-linear>
          <div ng-if="!$ctrl.model.loadingIssues">
            <gh-issues ng-if="$ctrl.model.hasIssues" issues="$ctrl.model.issues"></gh-issues>
            <gh-no-issues ng-if="!$ctrl.model.hasIssues" repositoryName="$ctrl.model.details.name"></gh-no-issues>
          </div>
				</md-tab-body>
			</md-tab>
		</md-tabs>
	</md-content>
</div>